/* Formattazione generica e margini */
* {
    margin: 0;
}

main, footer {
    margin: 0 10px 0 10px;
}

section {
    margin-top: 20px;
}

ul {
    margin-top: 20px;
    padding-left: 20px;
}

.highlight {

    background-color: yellow;
}

/* Formattazione della copertina header */
#cover {
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 180px;
}

#main-logo {
    width: 300px;
    height: auto;
    margin: 90px 0 0 10px;
}

/* Formattazione titolo, autore, data */
h1 {
    font-size: 40px;
}

.subtitle-text {
    color: #919191;
    font-weight: 800;
    font-size: 20px;
}

#data {
    color: #919191;
    font-size: 12px;
}

#autor-link {

    text-decoration: none;
    color: #20A9E5;

}

/* Formattazione immagini e didascalie */
.caption {
    font-size: 12px;
}


/* Formattazione tabella */
table {
    text-align: left;
    border-collapse: collapse;

}
table tr td:nth-child(1){
    width: 20%;
}
table tr td:nth-child(2){
    width: 20%;
}
table tr td:nth-child(3){
    width: 60%;
}
table th {
    background-color: #20A9E5;
    color: white;
}
.colored_row {
    background-color: #B1E5F2;
}


/* Formattazione footer */
footer div {

    margin-top: 20px;
    margin-bottom: 10px;
}

.article-link {

    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

#link-1 {
    background-image: url(../img/monitor.jpg);
    max-width: 300px;
    min-height: 200px;
}

#link-2 {
    background-image: url(../img/graph.jpg);
    max-width: 300px;
    min-height: 200px;
}